html body{
    height: 100%;
    width: 100%;
    margin:0;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    
        
}

body{
    display: flex;
    background-image: url(/img/background.jpg);
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    width: 100%;
}


ion-icon{
    font-size: 64px;
    border-style: solid;
    box-shadow: 15px 10px 15px black;
    background-color: rgb(158, 181, 243);
        
}

ion-icon:hover{

    box-shadow: 0px 0px 10px gold;

}

section:hover{
    box-shadow: 0px 0px 20px gold;

}


header{    
    display: flex;  
    flex-direction: row;    
    justify-content: space-between;
    padding: 1em;

 }

 header span{
     
     border-style: solid;
     text-align: center;
     margin: 0;
     padding: 15px;
     font-size:3rem;
     background-color: rgb(158, 181, 243);
     box-shadow: 15px 10px 15px black;

 }
.side-nav{
    display:flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    width: 250px;
    text-align: center;
    border-right: solid;
    color: white;
    background-color: rgb(102, 135, 224);
    margin: 0;
    border-color: gold;
    box-shadow: 0px 0px 20px gold;

}

.side-nav li:hover{
    text-shadow:0px 0px 10px gold;
}

 .side-nav li{
    list-style: none;
    margin-top:1em;
    }    



.side-nav li:hover::after{
    content: "";
    width: 100%;
        
    }

.side-nav li::after{
    content: "";
    display: block;
    width: 0%;
    height: 5px;
    background-color: gold;
    transition: ease-in-out 300ms;
    }

 nav a{
    text-decoration: none;
    color: white;
 }
 
 main{
    
     margin-left: 250px; 
     width: 100%;
 }

 section{
     border-style: solid;
     margin:1em;
     padding: 1em;
     background-color: rgb(158, 181, 243);
     box-shadow: 15px 10px 15px black;

 }
  
 #introduction{
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 3em;
       
 }

 #intro1{
    grid-column-start:1;
    grid-column-end:5;
    width:100%;
    
 }

 #intro2{
    grid-column-start:1;
    grid-column-end:3;
    width:100%;
    
}

#intro3{
    grid-column-start:3;
    grid-column-end:5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url(/img/8.jpeg);
    background-position:center;
    background-size: cover;
    height: 100%;
    width: auto;
    box-shadow: 15px 10px 15px black;
    border-style: solid;
}

#intro4 {
    
    grid-column-start:1;
    grid-column-end:5;
       
}

.img6{
    box-shadow: 15px 10px 15px black;
    

}